<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4" id="pet-dog">
      <div class="form-pet">
        <%= simple_form_for @pet do |f| %>
          <%= f.input :name, label: "Please add you pet name", hint: "Jack, Baily, Max" %>
          <%= f.input :gender, label: "Please add you dog gender", collection: Pet::GENDER %>
          <%= f.input :age, label: "Please add you pet age", input_html: { type: 'number' } %>
          <%= f.input :breed, label: "Please add you pet breed", hint: "Husky, Pomerania, Buldog" %>
          <%= f.input :description, label: "Please add any aditional information", hint: "my dog is allergic to peanuts", input_html: { maxlength: 120 }%>
          <%= f.input :photos, as: :file, label: false, input_html: { multiple: true } %>
          <%= f.input :personality_list, as: :check_boxes, collection: ["Shy", "Active", "Confident", "Independent", "Happy", "Adaptable"] %>
          <%= f.input :preference_list, as: :check_boxes, collection: ["Indoor", "Active", "Outdoor", "Quiet", "Adaptable","Dogpark", "Running", "Relaxing", "Independent", "Likes Dog Restaurant"] %>
          <%#= f.input :personality_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
          <%#= f.input :preference_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
          <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>