<% if current_user.pet %>
  <div class="cards-category-index">
    <div class="swiper-container animated zoomIn faster">
      <div class="swiper-wrapper">
        <%@pets.each do |pet|%>
          <div class="swiper-slide" >
            <div class="card-product-picture">
              <div class="photo-slideshow">
                <div class="swiper-wrapper">
                  <% if pet.photos.attached? %>
                    <%  pet.photos.each do |photo|%>
                      <div class="swiper-slide" >
                        <%= cl_image_tag(photo.key, class: "picture-dog", width: 1000, height: 1000, crop: :fill) %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="card-product-value">
                <p><%= current_user.pet.compatibilty(pet) %>%</p>
              </div>
              <div class="card-product-picture-info-name">
                <p> <%= pet.name %> </p>
              </div>
              <div class="dog-rating">
                <% if pet.rating.blank? %>
                  <p><%= pet.rating %>  </p>
                <% else %>
                  <p><% (pet.rating).times do %>
                      <i class="fas fa-bone"></i>
                    <% end %>
                    <% (5 - pet.rating).times do %>
                      <i class="fas fa-bone boni"></i>
                    <% end %></p>
                  <span>(<%= pet.ratings.count%>)</span>
                <% end %>
              </div>
              <!-- <div class="button-expand btn btn-primary" style="position: absolute; bottom: 10px; right: 10px;">Expand</div> -->
              <%= link_to "#", class: "button-expand", id: "button-index-expand" do %>
                <i class="fas fa-info-circle"></i>
              <% end %>
            </div>
            <div class="card-information-dog">
              <div class="card-information-dog-persnpref">
                <div class="card-information-dog-namenbreed">
                  <p><strong><%= pet.breed %></strong></p>
                  <p><strong><%= pet.age %></strong>
                    <% if pet.gender == "male" %>
                      <i class="fas fa-mars"></i>
                    <% else %>
                      <i class="fas fa-venus"></i>
                    <% end %>
                  </p>
                </div>
                <div class="card-information-dog-personalities">
                  <p><strong>Personality</strong></p>
                  <p><%= pet.personality_list %></p>
                </div>
                <div class="card-information-dog-preferences">
                  <p><strong>Preferences</strong></p>
                  <p><%= pet.preference_list %></p>
                </div>
              </div>
              <div class="card-information-dog-description">
                <p><strong>Description</strong></p>
                <p> <%= pet.description %>  </p>
              </div>
              <div class="show-all-reviews">
                <h3>Reviews and Ratings</h3>
                <% if pet.ratings.any? %>
                  <div class="first-reviews">
                    <% pet.ratings.first(5).each do |rating| %>
                      <p class="first-reviews-p"><%= rating.comments %></p>
                      <p>
                        <% (rating.stars).times do %>
                          <i class="fas fa-bone"></i>
                        <% end %>
                        <% (5 - rating.stars).times do %>
                          <i class="fas fa-bone boni"></i>
                        <% end %>
                      </p>
                    <% end %>
                    <!-- </div> -->
                  </div>
                  <div class="show-all-button button-chat" id="button-chat-margin">
                    Show all reviews
                  </div>
                  <div class="remaining-reviews hidden">
                    <% pet.ratings.last(pet.ratings.count-5).each do |rating| %>
                      <p class="remaining-reviwes-p"><%= rating.comments %></p>
                      <p><% (rating.stars).times do %>
                          <i class="fas fa-bone"></i>
                        <% end %>
                        <% (5 - rating.stars).times do %>
                          <i class="fas fa-bone boni"></i>
                        <% end %>
                      </p>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="swiper-slide"></div>
      </div>
      <div class="swiper-pagination"></div>
      <!--       <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
    </div>
  </div>
</div>
<!-- <button id="sweet-alert-matched" class="btn btn-primary">Matched</button> -->
<button id="sweet-alert-matched" class="btn-transparent">Matched</button>
<div class="btn-group d-flex justify-content-between">
  <button type="button" id="btn-nope" class="btn-transparent"><img src="https://res.cloudinary.com/diyszwqhl/image/upload/v1583922785/nope_btn_qz1lsu.png"/><%= link_to "Nope", reject_path(@pets.first.user),remote: true %></button>
  <button type="button" class="btn-transparent" id="btn-like"><img src="https://res.cloudinary.com/diyszwqhl/image/upload/v1583922798/like_btn_jnyyno.png"/><%= link_to "Like", accept_path(@pets.first.user),remote: true %></button>
</div>
  <button type="button" class="btn-transparent" id="btn-my-friend"><%= link_to "friend", friends_path %></button>

<% else %>
  <%= render 'shared/create_pet' %>
<% end %>
<script>
  var mySwiper = new Swiper('.swiper-container', {
    init: false,
    speed: 700,
    loop: true,
    spaceBetween: 100,
    autoHeight: true, //enable auto height
    // freeModeMomentum: true,
    touchRatio: 1.1,
    on: {

      init () {
        console.log('swiper initialized');
      },
      slideChange () {
        if ( mySwiper.activeIndex > mySwiper.previousIndex ) {
          console.log('swipe to the left');
          window.location.href = '<%= reject_path(@pets.first.user) %>';
        } else {
          console.log('swipe to the right');
          <% if @pets.first.user.match?(current_user) %>
            document.querySelector("#btn-like a").click();
            document.querySelector('#sweet-alert-matched').click();
          <% else %>
            window.location.href = '<%= accept_path(@pets.first.user) %>';
          <% end %>
        }
      }
    },
  });

  mySwiper.init();

  var photoSlideShow = new Swiper('.photo-slideshow', {
    init: true,
    speed: 250,
    loop: false,
    spaceBetween: 0,
    autoHeight: true, //enable auto height
    // allowTouchMove: false,
    direction: 'vertical',
    // wrapperClass: 'slideshow-wrapper',
    // pagination: {
    //   el: '.swiper-pagination',
    //   clickable: true,
    // },
    // navigation: {
    //   nextEl: '.swiper-button-next',
    //   prevEl: '.swiper-button-prev',
    // }
  });

  // photoSlideShow.init();
  // var mySwiper2 = document.querySelector('.swiper-container').swiper
    // var mySwiper2 = document.querySelector('.swiper-container').swiper
  document.querySelectorAll(".button-expand").forEach(button => {

  button.addEventListener("click", (event) => {
  document.querySelector("body").classList.toggle("expanded")
  document.querySelector("body").classList.toggle("non-scroll")
  });
  })

  document.querySelector('.show-all-button').addEventListener('click', () => {
  document.querySelector('.remaining-reviews').classList.remove('hidden')
  document.querySelector('.show-all-button').remove()
  })
</script>
